<%- include('../partials/head') -%>
<%- include('../partials/navbar') -%>
    <p>"hello"</p>
    <form action="/auth/logout" method="POST">
        <button type="submit">Log Out</button>
    </form>
<%- include('../partials/footer') -%>