<%- include('../partials/head') -%>
<%- include('../partials/navbar') -%>
<link rel="stylesheet", href="css/register.css">
<section class="h-100 gradient-form" style="background-color: #eee;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-10">
            <div class="card rounded-3 text-black">
              <div class="row site-id">
                  <h1 class="text-center">Done</h1>
              </div>
              <div class="row">
                  <center><p class="recovery">an email was sent to <%= email %></p></center>
              </div>
              <div class="row">
                <center><p class="recovery">go back <a href="/">home</a></p></center>
            </div>
            </div>
        </div>
      </div>
    </div>
  </section>
<%- include('../partials/footer') -%>